<footer class="fixed bottom-0 w-full bg-base-200 border-t z-50">
  <div class="flex justify-around items-center h-16">
    <%= link_to "ルーティン", routine_path_for(current_user), class: "flex flex-col items-center text-sm" %>

    <button class="flex flex-col items-center text-sm">
      おてつだい
    </button>

    <button class="flex flex-col items-center text-sm">
      通知
    </button>

    <button class="flex flex-col items-center text-sm">
      ポイント
    </button>

  <% if current_user.present? && current_child.blank? %>
    <%= link_to "アカウント",
        parent_role_children_path,
        class: "flex flex-col items-center text-sm" %>
  <% else %>
    <button class="flex flex-col items-center text-sm" disabled>
      アカウント
    </button>
  <% end %>
  </div>
</footer>
