<footer class="fixed bottom-0 w-full bg-base-200 border-t z-50">
  <div class="flex justify-around items-center h-16">
    <%= link_to "ルーティン", class: "flex flex-col items-center text-sm" %>

    <button class="flex flex-col items-center text-sm">
      おてつだい
    </button>

    <button class="flex flex-col items-center text-sm">
      通知
    </button>

    <button class="flex flex-col items-center text-sm">
      ポイント
    </button>

    <button class="flex flex-col items-center text-sm">
      アカウント
    </button>
  </div>
</footer>
