<header class="w-full bg-base-200 border-b px-6 py-4 flex justify-between items-center">
  <%= link_to root_path do %>
    <span class="text-xl font-bold hover:opacity-80">
      ポケマニルーティン
    </span>
  <% end %>

<%# 子どもログイン画面では何も出さない %>
  <% unless controller_path.in?(["child_sessions", "tops", "devise/sessions"]) %>

    <%# child_role配下（子どもログイン後の画面）は「ペアコード解除（子どもログアウト）」 %>
    <% if controller_path.start_with?("child_role/") %>
      <%= link_to "ログアウト",
          child_session_path,
          data: { turbo_method: :delete },
          class: "btn btn-soft btn-neutral rounded-2xl px-6" %>

    <%# それ以外は親のDeviseログアウト %>
    <% else %>
      <%= link_to "ログアウト",
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: "btn btn-soft btn-neutral rounded-2xl px-6" %>
    <% end %>

  <% end %>
</header>
